datasets>=2.18.0
huggingface_hub>=0.22.0
langchain-text-splitters>=0.0.1
langchain-community>=0.0.20
faiss-cpu>=1.7.4
sentence-transformers>=2.7.0
openai>=1.12.0
scipy>=1.12.0
matplotlib>=3.8.0
numpy>=1.26.0
python-dotenv>=1.0.0
scikit-learn>=1.4.0
